# app/views/users/edit.html.erb
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="d-flex justify-content-center">
<%= form_for @user, html: { data: { turbo: false } } do |f| %>
  <!-- ... other fields ... -->
  <p>
  <%= f.label :image %>
  <%= f.file_field :image %>
  </p>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :email %>
  <%= f.email_field :email %>
  </p>
  <%= f.submit %>
<% end %>
</div>