<!-- app/views/home/index.html.erb -->
<% if user_signed_in? %>
  <!-- Content for logged-in users, e.g., dashboard -->
  <% render "layouts/recentbtn" %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Categories</h1>
    <%= link_to "New category", new_user_category_path(@user), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <%= @categories.inspect %>
  <div id="categories" class="min-w-full">
    <%= render @categories %>
  </div>
<% else %>
<h1>BUDGET WISELY</h1>
<p>Track your expenses and income</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Login", new_user_session_path, class: "btn btn-secondary" %>
<% end %>
