<%= form_with(model: [@user, @category], url: user_categories_path(@user), class: "contents", enctype: "multipart/form-data") do |form| %>
  <% if @category.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% @category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :icon %>
    <%= form.file_field :icon, class: "form-control-file" %>
  </div>
  <%= form.hidden_field :user_id, value: @user.id %>
  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>