<!-- app/views/expenses/_expense.html.erb -->
<div id="<%= dom_id expense %>">
  <p class="mt-3">
    <strong>Name:</strong>
    <%= expense.name %>
  </p>

  <p class="mt-3">
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

  <p class="mt-3">
    <strong>Created at:</strong>
    <%= expense.created_at %>
  </p>

  <p class="mt-3">
    <strong>Category:</strong>
    <%= expense.category_id %>
  </p>

  <p class="mt-3">
    <strong>User:</strong>
    <%= expense.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this expense", expense, class: "btn btn-light" %>
    <%= link_to "Edit this expense", edit_expense_path(expense), class: "btn btn-light ml-2" %>
    <hr class="mt-4">
  <% end %>
</div>