<div class="main-container">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
<%# app/views/expenses/index.html.erb %>
<%= link_to "Most Recent", most_recent_expenses_path, class: "btn btn-light" %>
<%= link_to "Most Ancient", most_ancient_expenses_path, class: "btn btn-light" %>
<%# Rest of your index view code %>
</nav>
  <% if notice.present? %>
    <p class="alert alert-success mb-3" id="notice"><%= notice %></p>
  <% end %>

  <div class="d-flex justify-content-between align-items-center">
    <h1 class="font-weight-bold display-4">Expenses</h1>
  </div>
  <div id="expenses-container" class="w-100">
    <% @expenses.each do |expense| %>
      <section class="expense-card">
      <% if expense.categories.any? %>
        <% expense.categories.each do |category| %>
          <p>
            <%= category.name %>
          </p>
          <section class="expense-card-two">
          <ul card="expense-list"> 
          <li class="name-expense"><%= link_to expense.name, user_expense_path(current_user, expense) %></li>
          <p><%= expense.created_at.strftime("%d %b %Y")%></p>
          </ul>  <li class="amount"><strong>$<%= expense.amount %></strong></li>
          </section>
        <% end %>
        </section>
      <% else %>
        <p>No categories for this expense</p>
      <% end %>
    <% end %>
  </div>
</div>
<div class="Add-button">
  <%= link_to "New expense", new_user_expense_path(current_user), class: "btn btn-primary btn-custom text-center" %>
</div>


