<div class="main-container">
  <% if notice.present? %>
    <p class="alert alert-success mb-3" id="notice"><%= notice %></p>
  <% end %>
  <div id="expenses-container" class="w-100">
    <% @expenses.each do |expense| %>
      <section class="expense-card">
        <% if expense.categories.any? %>
          <% expense.categories.each do |category| %>
            <% if category.icon_data.present? %>
              <%= image_tag "data:image/png;base64,#{Base64.encode64(category.icon_data)}", class:"home-icon" %>
            <%else%>
              <%= image_tag 'icon-home.png', class: "home-icon-ex" %>
            <% end %>

            <section class="expense-card-two">
              <ul card="expense-list"> 
                <li class="name-expense"><%= link_to expense.name, user_expense_path(current_user, expense) %></li>
                <p class="time"><%= expense.created_at.strftime("%d %b %Y")%></p>
              </ul>  
              <li class="amount"><strong>$<%= expense.amount %></strong></li>
            </section>
          <% end %>
        <% else %>
          <p>No categories for this expense</p>
        <% end %>
      </section>
    <% end %>
  </div>

  <div class="Add-button">
    <%= link_to "New expense", new_user_expense_path(current_user), class: "btn btn-primary btn-custom text-center" %>
  </div>
</div>