<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "nav-link active", "aria-current": "page" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Profile", "#" , class: "nav-link" %>
          </li>
          <!-- Add additional links for logged-in users here -->
          <li class="nav-item">
            <%= link_to "Categories", user_categories_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New Categories", new_user_category_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Expenses", user_expenses_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New Expenses", new_user_expense_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-secondary", data: { confirm: "Are you sure you want to log out?" } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
